<style>
  .col-xs-3, .col-sm-3, .col-md-3 {
    padding-right: 10px; /* Increase right padding for spacing */
  }

  .col-xs-9, .col-sm-9, .col-md-9 {
    padding-left: 10px; /* Ensure there's space between columns */
  }
</style>

<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign work = data[1] | sort: 'startDate' | reverse %}
  {% for content in work %}
    <li class="list-group-item">
      <div class="row">
        <!-- Increase the width for date -->
        <div class="col-xs-3 col-sm-3 col-md-3 text-center" style="width: 100px;">
          {% if content.startDate %}
            {% assign startDate = content.startDate | split: '-' | slice: 0, 2 | join: '.' %}
            {% assign endDate = content.endDate | split: '-' | slice: 0, 2 | join: '.' | default: 'Present' %}
            {% assign date = startDate | append: ' - ' %}
            {% assign date = date | append: endDate %}
          {% else %}
            {% assign date = '' %}
          {% endif %}
          <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 100px;">{{ date }}</span>
        </div>
        <!-- Reduce the width for the main content -->
        <div class="col-xs-9 col-sm-9 col-md-9 mt-2 mt-md-0">
          <h6 class="title font-weight-bold ml-1 ml-md-4">
            <a href="{{ content.url }}">{{ content.position }}</a>
          </h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ content.name }}</h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic">{{ content.summary }}</h6>
          <ul class="items">
            {% for item in content.highlights %}
              <li><span class="item">{{ item }}</span></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
